/* Write CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  background-size: cover;
  height: 100vh;
}

.stop-watch-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 60px;
}
.heading {
  font-size: 55px;
  font-weight: bold;
  padding-left: 8px;
}
.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: 280px;
  height: 280px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.timer-alignment {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0px;
}
.timer-image {
  width: 25px;
  height: 25px;
}

.timer-heading {
  font-size: 25px;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 5px;
}

.time {
  font-size: 55px;
  font-weight: 700;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.button {
  color: white;
  border: none;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  cursor: pointer;
  outline: none;
  margin-right: 15px;
  font-weight: 600;
  margin-top: 30px;
}

.start-btn {
  background-color: #1db05f;
  margin-left: 12px;
}

.stop-btn {
  background-color: #ef0d36;
}

.reset-btn {
  background-color: #eaa800;
}

@media screen and (max-width: 576px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
    height: 100vh;
    background-size: cover;
  }
  .stop-watch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
  }
  .timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 310px;
    height: 210px;
  }
  .timer-alignment {
    margin-top: 0px;
  }
  .heading {
    font-size: 30px;
  }

  .timer-heading {
    font-size: 18px;
  }
  .time {
    font-size: 30px;
    font-weight: 600;
  }
}
